Repository dolphin-admin/vue-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css,vue}": "prettier --write"
}

chore: remove vercel.json
  vercel.json
Due: none

feat: :sparkles: nav
  src/constants/menu.ts
  src/views/Navigation/components/IconItem/index.vue
  src/views/Navigation/components/index.ts
  src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

chore: update
  package.json
Due: none

fix: update websocket url
  src/views/SystemTools/WebSocket/index.vue
Due: eslint --fix, prettier --write

chore: update
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/DialogModal/index.vue
  src/components/DialogModal/private/index.ts
  src/components/DialogModal/private/types.ts
  src/views/SystemFunctions/UserManagement/components/UserFormModal/index.vue
  vite.config.ts
Due: eslint --fix, prettier --write

chore: update
  src/components.d.ts
  src/components/BaseModalDialog/index.vue
  src/components/DialogModal/index.vue
  src/components/DialogModal/private/index.ts
  src/components/DialogModal/private/types.ts
  src/components/FileUploader/index.vue
  src/views/SystemFunctions/UserManagement/index.vue
Due: eslint --fix, prettier --write

chore: update
  docs/DEV_Standard.md
  src/views/Auth/Login/index.vue
  src/views/Auth/Signup/index.vue
  src/views/SystemFunctions/UserManagement/components/UserFormModal/index.vue
  src/views/SystemFunctions/UserManagement/index.vue
  src/views/User/ChangePassword/index.vue
Due: eslint --fix, prettier --write

chore: update
  src/views/SystemFunctions/UserManagement/components/UserFormModal/index.vue
  src/views/SystemFunctions/UserManagement/index.vue
Due: eslint --fix, prettier --write

chore: update
  src/locales/en_US.json
  src/locales/zh_CN.json
  src/views/SystemTools/WebSocket/index.vue
Due: eslint --fix, prettier --write

docs: add iteration 2 changelog
  CHANGELOG.md
Due: prettier --write

fix: typo
  CHANGELOG.md
Due: prettier --write

fix: :bug: nav
  src/auto-imports.d.ts
  src/components.d.ts
  src/constants/menu.ts
  src/utils/index.ts
  src/utils/navigation/index.ts
  src/views/Navigation/components/IconItem/index.vue
  src/views/Navigation/components/Search/index.vue
  src/views/Navigation/components/index.ts
  src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

fix: :bug: i18n
  src/locales/en_US.json
  src/locales/zh_CN.json
  src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

fix: :bug: nav
  src/auto-imports.d.ts
  src/components.d.ts
  src/utils/navigation/index.ts
  src/views/Navigation/components/Search/index.vue
  src/views/Navigation/components/ShortcutItem/index.vue
  src/views/Navigation/components/index.ts
  src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

fix: :bug: nav
  index.html
  src/components.d.ts
  src/utils/navigation/index.ts
  src/views/Navigation/components/Search/index.vue
  src/views/Navigation/components/ShortcutItem/index.vue
  src/views/Navigation/components/index.ts
  src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

fix: :bug: form item width auto not work with reactive state
  src/views/User/ChangePassword/index.vue
  src/views/User/UserInfo/index.vue
Due: eslint --fix, prettier --write

style: fix
  src/views/User/UserInfo/index.vue
Due: eslint --fix, prettier --write

feat: :sparkles: add system loading in AuthLayout
  src/layouts/AuthLayout/index.vue
Due: eslint --fix, prettier --write

fix: :bug: nav
  src/auto-imports.d.ts
  src/components.d.ts
  src/utils/navigation/index.ts
  src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

style: comment
  src/utils/navigation/index.ts
Due: eslint --fix, prettier --write

fix: :bug: components
  src/components.d.ts
Due: eslint --fix, prettier --write

fix: :bug: nav
  src/components.d.ts
Due: eslint --fix, prettier --write

chore: update
  src/components.d.ts
Due: eslint --fix, prettier --write

style: format
  index.html
Due: prettier --write

feat: :sparkles: drag
  src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

fix: :bug: drag
  src/views/Navigation/components/ShortcutItem/index.vue
  src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

perf: :zap: tabs drag
  src/components/BaseTabs/index.vue
  src/store/tab/index.ts
Due: eslint --fix, prettier --write

fix: :bug: drag
  src/components/BaseTabs/index.vue
  src/store/tab/index.ts
  src/views/Navigation/components/ShortcutItem/index.vue
  src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

fix: :bug: drag
  src/components.d.ts
  src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

feat: monorepo
  .eslintignore
  .eslintrc.js
  .prettierignore
  README.md
  README.zh-CN.md
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.node.json
  tsconfig.web.json
  web/package.json
  web/src/api/axios/index.ts
  web/src/components.d.ts
  web/src/components/BaseFooter/index.vue
  web/src/components/BaseHeader/index.vue
  web/src/components/BaseSidebar/index.vue
  web/src/components/BaseTabs/index.vue
  web/src/components/ThemeSwitchDevTool/index.vue
  web/src/locales/en_US.json
  web/src/locales/zh_CN.json
  web/src/types/env.d.ts
  web/src/types/shims.d.ts
  web/src/views/Auth/Login/index.vue
  web/src/views/Auth/Signup/index.vue
  web/src/views/SystemApplications/ChatChannels/index.vue
  web/tsconfig.json
  web/vite.config.ts
Due: eslint --fix, prettier --write

chore: update dep
  .husky/pre-commit
  .nvmrc
  package.json
  pnpm-lock.yaml
  server/package.json
  web/package.json
Due: none

chore: update deps
  .cspell/custom-words.txt
  CHANGELOG.md
  README.md
  README.zh-CN.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update
  tsconfig.node.json
Due: none

chore: update
  .cspell.json
  .eslintignore
  .gitignore
  .prettierignore
  CHANGELOG.md
  DEV_Standard.md
  package.json
  pnpm-lock.yaml
  server/package.json
  web/src/types/auto-imports.d.ts
  web/src/types/components.d.ts
Due: eslint --fix, prettier --write

chore: update .gitignore
  .gitignore
Due: none

feat: init project
  .eslintignore
  .gitignore
  .prettierignore
  docs/.env.example
  docs/app.config.ts
  docs/app.vue
  docs/nuxt.config.ts
  docs/package.json
  docs/public/favicon.ico
  docs/server/tsconfig.json
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
  server/package.json
  web/package.json
  web/src/app.config.ts
  web/src/components/BaseHeader/index.vue
  web/src/locales/en_US.json
  web/src/locales/zh_CN.json
  web/src/types/siteMetaData.ts
Due: eslint --fix, prettier --write

docs: update node version
  README.md
  README.zh-CN.md
Due: prettier --write

docs: :memo: integrate with tailwindcss
  .husky/pre-commit
  docs/app.vue
  docs/assets/global.scss
  docs/assets/images/bit_ocean.png
  docs/assets/images/favicon.png
  docs/composables/useAsset.ts
  docs/layouts/BaseLayout.vue
  docs/nuxt.config.ts
  docs/package.json
  docs/pages/index.vue
  docs/tailwind.config.ts
  docs/types/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

style: format
  .husky/pre-commit
  web/src/components/BaseHeader/index.vue
Due: eslint --fix, prettier --write
