Repository dolphin-admin/vue-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css,vue}": "prettier --write"
}

chore: update
  src/store/counter.ts
  src/store/index.ts
  src/views/Home/index.vue
  vite.config.ts
Due: eslint --fix, prettier --write

chore: update
  src/views/Home/index.vue
Due: eslint --fix, prettier --write

feat: i18n
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/views/Signup/index.vue
Due: eslint --fix, prettier --write

feat: add tauri desktop
  .cspell/custom-words.txt
  package.json
  src-tauri/.gitignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: none

feat: integrate tauri app to project
  .cspell.json
  .cspell/custom-words.txt
  .eslintignore
  .prettierignore
Due: none

feat: base layout
  src/App.vue
  src/api/user.ts
  src/assets/base.scss
  src/components.d.ts
  src/components/AuthProvider/index.vue
  src/components/BaseFooter/index.vue
  src/components/BaseHeader/index.vue
  src/components/BaseSidebar/index.vue
  src/layouts/BaseLayout/index.vue
  src/router/routes.ts
  src/store/index.ts
  src/store/user.ts
  src/types/request.ts
  src/types/user.ts
  vite.config.ts
Due: eslint --fix, prettier --write

feat: layout
  src/App.vue
  src/api/user.ts
  src/assets/base.scss
  src/components/AuthProvider/index.vue
  src/components/BaseFooter/index.vue
  src/components/BaseHeader/index.vue
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/layouts/BaseLayout/index.vue
  src/main.ts
  src/store/index.ts
  src/store/user.ts
  src/types/index.ts
  src/types/request.ts
  src/types/typeFc.ts
  vite.config.ts
Due: eslint --fix, prettier --write

style: format
  src/assets/base.scss
Due: none

chore: update dep
  package.json
  pnpm-lock.yaml
Due: none

feat: layoutEnhanced
  src/store/sidebarStore.ts
Due: eslint --fix, prettier --write

feat: layoutEnhanced
  src/components.d.ts
  src/components/BaseHeader/index.vue
  src/components/BaseSidebar/index.vue
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/layouts/BaseLayout/index.vue
  src/store/index.ts
Due: eslint --fix, prettier --write

feat: update
  src/components/BaseHeader/index.vue
  src/components/BaseSidebar/index.vue
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/store/sidebarStore.ts
Due: eslint --fix, prettier --write

refactor: vite config load from .env
  .env
  .env.example
  src/env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write

feat: load img eager
  src/components/BaseHeader/index.vue
Due: eslint --fix, prettier --write

build(front-end engineering): :package: add cz-git
  .commitlintrc.js
  .commitlintrc.json
  README.zh-CN.md
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

build: :package: add changelog
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(qrcode): :sparkles: add qrcode module
  .cspell/custom-words.txt
  docs/DEV_Standard.md
  package.json
  pnpm-lock.yaml
  src/app.config.ts
  src/components.d.ts
  src/components/BaseFooter/index.vue
  src/components/BaseHeader/index.vue
  src/components/BaseSidebar/index.vue
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/layouts/BaseLayout/index.vue
  src/router/index.ts
  src/router/routes.ts
  src/types/index.ts
  src/types/qrcode.ts
  src/types/siteMetaData.ts
  src/utils/index.ts
  src/utils/qrcode.ts
  src/views/Login/index.vue
  src/views/QRCode/index.vue
  src/views/Signup/index.vue
Due: eslint --fix, prettier --write

fix: :bug: unnecessary margin top
  src/views/QRCode/index.vue
Due: eslint --fix, prettier --write

docs(Dev Standard): :memo: add RWD content
  docs/DEV_Standard.md
Due: prettier --write

feat: menus
  src/components.d.ts
  src/components/BaseHeader/index.vue
  src/components/BaseSidebar/index.vue
  src/constants/index.ts
  src/constants/menusData.ts
Due: eslint --fix, prettier --write

feat: menus
  src/constants/menusData.ts
Due: eslint --fix, prettier --write

chore: update
  .husky/pre-commit
Due: none

fix: bug
  src/api/login.ts
  src/api/signup.ts
  src/api/upload.ts
  src/api/user.ts
  src/components.d.ts
  src/components/BaseHeader/index.vue
  src/components/BaseSidebar/index.vue
  src/components/ThemeSwitchDevTool/index.vue
  src/constants/environments.ts
  src/constants/index.ts
  src/constants/menu.ts
  src/constants/menusData.ts
  src/views/Login/index.vue
Due: eslint --fix, prettier --write

fix: remove unnecessary css class
  src/components/BaseSidebar/index.vue
Due: eslint --fix, prettier --write

feat(QRCode): :sparkles: add download button
  src/app.config.ts
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/utils/browser.ts
  src/utils/index.ts
  src/views/QRCode/index.vue
Due: eslint --fix, prettier --write

refactor: :recycle: sidebar
  src/components/BaseSidebar/index.vue
  src/constants/menu.ts
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/store/sidebarStore.ts
  src/types/index.ts
  src/types/menu.ts
  src/utils/index.ts
  src/utils/render.ts
Due: eslint --fix, prettier --write

chore(package.json): :hammer: add tauri package
  package.json
  pnpm-lock.yaml
Due: none

feat(user-info): :sparkles: add user-info module
  src/api/upload.ts
  src/api/user.ts
  src/components.d.ts
  src/components/AuthProvider/index.vue
  src/components/BaseSidebar/index.vue
  src/constants/index.ts
  src/constants/menu.ts
  src/constants/validation/index.ts
  src/constants/validation/user.ts
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/layouts/BaseLayout/index.vue
  src/router/index.ts
  src/router/routes.ts
  src/store/index.ts
  src/store/sidebar.ts
  src/store/user.ts
  src/types/file.ts
  src/types/index.ts
  src/types/user.ts
  src/utils/file.ts
  src/utils/index.ts
  src/views/UserInfo/index.vue
Due: eslint --fix, prettier --write

feat: :sparkles: update style
  src/components/BaseSidebar/index.vue
  src/components/BaseSidebar/model/index.ts
  src/constants/index.ts
  src/router/routes.ts
  src/types/user.ts
  src/views/UserInfo/index.vue
Due: eslint --fix, prettier --write

fix: :bug: bug
  src/components.d.ts
  src/components/BaseHeader/index.vue
  src/constants/environments.ts
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/utils/file.ts
  src/views/Login/index.vue
  src/views/UserInfo/index.vue
Due: eslint --fix, prettier --write

style: format
  src/constants/environments.ts
Due: eslint --fix, prettier --write

chore: i18n
  src/i18n/locales/en_US.json
Due: none

fix: :bug: fix
  src/constants/validation/user.ts
  src/views/Login/index.vue
  src/views/UserInfo/index.vue
Due: eslint --fix, prettier --write

chore: update team name
  src/app.config.ts
Due: eslint --fix, prettier --write

perf: :zap: enchance user info
  src/components/BaseHeader/index.vue
  src/constants/index.ts
  src/constants/validation/index.ts
  src/constants/validation/user.ts
  src/views/Login/index.vue
  src/views/UserInfo/index.vue
Due: eslint --fix, prettier --write

perf: :zap: resolve conversation
  src/views/UserInfo/index.vue
Due: eslint --fix, prettier --write

refactor: use async await
  src/views/UserInfo/index.vue
Due: eslint --fix, prettier --write

feat: :sparkles: icon management
  .cspell.json
  src/components/BaseSidebar/model/index.ts
  src/constants/icon.ts
  src/constants/index.ts
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/router/routes.ts
  src/views/IconManagement/index.vue
Due: eslint --fix, prettier --write

chore: 401 add redirect
  src/api/axios/index.ts
Due: eslint --fix, prettier --write
