Repository dolphin-admin/vue-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update
  src/assets/main.scss
Due: none

chore: update
  .eslintrc.js
  src/views/API/index.vue
  src/views/NotFound/index.vue
  src/views/Store/index.vue
Due: eslint --fix, prettier --write

chore: update
  .eslintignore
  .prettierignore
  package.json
Due: none

chore: update
  src/api/axios/config.ts
  src/api/axios/index.ts
  src/api/axios/statusCode.ts
  src/store/theme.ts
  src/views/API/index.vue
Due: eslint --fix, prettier --write

chore: update
  .eslintrc.js
  README.md
  auto-imports.d.ts
  package.json
  pnpm-lock.yaml
  src/app.config.ts
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: update
  README.zh-CN.md
  TODO.md
  components.d.ts
  index.html
  public/favicon.ico
  src/api/axios/config.ts
  src/api/axios/index.ts
  src/app.config.ts
  src/assets/images/favicon.png
  src/components/FileUploader/index.vue
  src/router/routes.ts
  src/types/index.ts
  src/types/time.ts
  src/utils/authentication.ts
  src/utils/index.ts
  src/utils/time.ts
  src/views/API/index.vue
  src/views/Store/index.vue
  vite.config.ts
Due: eslint --fix, prettier --write

build: adjust build script
  package.json
Due: none

build: adjust build script
  components.d.ts
  package.json
Due: eslint --fix, prettier --write

chore: update
  src/api/index.ts
  src/api/upload.ts
  src/api/user.ts
  src/router/dynamicRoutes.ts
  src/types/request.ts
Due: eslint --fix, prettier --write

fix: bug
  src/components/FileUploader/index.vue
Due: eslint --fix, prettier --write

docs: update README.md
  README.md
Due: prettier --write

chore: update
  README.md
Due: prettier --write

feat: login
  components.d.ts
  src/api/index.ts
  src/api/login.ts
  src/router/routes.ts
  src/views/Login/index.vue
Due: eslint --fix, prettier --write

style: format import
  src/views/Login/index.vue
Due: eslint --fix, prettier --write

feat: add auth route
  src/router/index.ts
  src/router/routes.ts
  src/views/Login/index.vue
Due: eslint --fix, prettier --write

feat: signup
  .husky/pre-commit
  components.d.ts
  src/api/index.ts
  src/api/register.ts
  src/router/routes.ts
  src/views/Register/index.vue
Due: eslint --fix, prettier --write

fix: code
  .husky/pre-commit
  components.d.ts
  src/api/index.ts
  src/api/login.ts
  src/api/register.ts
  src/api/signup.ts
  src/router/routes.ts
  src/types/index.ts
  src/types/request.ts
  src/types/user.ts
  src/views/Login/index.vue
  src/views/Register/index.vue
  src/views/Signup/index.vue
Due: eslint --fix, prettier --write

fix: update
  src/views/Login/index.vue
  src/views/Signup/index.vue
Due: eslint --fix, prettier --write

fix: update
  components.d.ts
  src/views/Login/index.vue
  src/views/Signup/index.vue
Due: eslint --fix, prettier --write

fix: css style
  src/views/Login/index.vue
Due: eslint --fix, prettier --write

build: add prod server
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: update
  src/Layouts/AuthLayout/index.vue
  src/Layouts/BaseLayout/index.vue
  src/router/routes.ts
  src/views/Login/index.vue
  src/views/Signup/index.vue
Due: eslint --fix, prettier --write

chore: update
  .env
  vite.config.ts
Due: eslint --fix, prettier --write

fix: bug
  src/Layouts/AuthLayout/index.vue
Due: eslint --fix, prettier --write

fix: issue
  src/Layouts/AuthLayout/index.vue
  src/router/routes.ts
Due: eslint --fix, prettier --write

build: config vercel.json
  vercel.json
Due: none

chore: update
  .env.example
Due: none

docs: update
  TODO.md
Due: prettier --write

Revert "Merge branch 'main' of https://github.com/recallwei/yahoo-news-app"
  src/Layouts/AuthLayout/index.vue
  src/Layouts/BaseLayout/index.vue
  src/router/routes.ts
  src/views/Login/index.vue
  src/views/Signup/index.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,vue}
